[submodule "crsf-ros2"]
	path = crsf-ros2
	url = https://github.com/arunser/crsf-ros2.git
[submodule "controller_tuner"]
	path = controller_tuner
	url = https://github.com/erts-RnD/controller_tuner.git
[submodule "whycon"]
	path = whycon
	url = https://github.com/arunser/whycon.git
